
*{

    margin: 0px;
    top: 0px;

}

.corpo{

    position: fixed;
    width: 100%;
    min-height: 100vh;
    

}

.top{

    position: relative;
    width: 100%;
    height: 80px;
    background-color: #491212;

}

.divContato{

    position: fixed;
    width: 60px;
    height: 30px;

    margin-left: 90%;
    margin-top: 25px;

}



.divContato a{

    font-size: 20px;
    text-decoration: none;
    color: white;
}

.busca{

    position: fixed;
    margin-top: 20px;
    margin-left: 30%;
    width: 500px;
    height: 30px;
    border-radius: 120px;    

}

.loginUser{

    position: fixed;
    margin-left: 12%;
    margin-top: 25px;

}

.loginUser span{

    font-size: 20px;
    color: white;

}

.low{

    position: relative;
    width: 100%;
    height: 80px;
    background-color: #491212;
    bottom: 0px;

}


.corpoFotos{

    position: relative;
    height: 507px;
    width: 100%;

}

.btnAlbum{

    width:  50px;
    height: 50px;
    margin-top: 15px; 
    margin-left: 20%;

}

.teste{

    position: relative;
    top: -50px;
    width: 66px;
    height: 66px;
    background: url("../imagens/plus.png") no-repeat 100% 100%;
    border-radius: 100px;
    text-decoration: none;
    display: none;


}

.img-btn{
    position: relative;
   /* background: yellow; */
   width: 50px;
   height: 50px;
   display: inline-block;
   top: 0px;
   margin-left: 25%;
   margin-top: 15px;
}

.img-btn img{
    position: relative;
    width: 100%;
    height: 100%;
}